{
  "datacenter": "{{ consul_conf_datacenter }}",
{% if consul_conf_bootstrap %}
  "bootstrap": true,
{% endif %}
{% if consul_install_webui %}
  "ui_dir": "{{ consul_webui_path }}",
{% endif %}
  "bind_addr": "{{ consul_conf_bind_addr }}",
  "client_addr": "{{ consul_conf_client_addr }}",
  "addresses": {
    "dns": "{{ consul_conf_addresses_dns }}",
    "http": "{{ consul_conf_addresses_http }}",
    "https": "{{ consul_conf_addresses_https }}"
  },
  "data_dir": "{{ consul_conf_data_dir }}",
  "log_level": "{{ consul_conf_log_level }}",
  "node_name": "{{ consul_conf_node_name }}",
  "server": true,
  "bootstrap_expect": 1,
  "domain": "{{ consul_conf_domain }}",
  "ports":{
       "dns":53
   },
  "watches": [
   {
    	"type": "checks",
        "handler": "/usr/bin/health-check-handler.sh"
    }
  ]
}