{
  "datacenter": "{{ datacenter }}",
  "data_dir": "/opt/consul",
  "ui_dir": "{{ client_addr }}",
  "log_level": "{{ log_level }}",
  "node_name": "{{ node_name }}",
  "bootstrap": true,
  "server": true,
  "bootstrap_expect": 1,
  "client_addr": "{{ client_addr }}"
  "domain": "{{ domain }}",
  "ports":{
       "dns":53
   },
  "watches": [
   {
        "type": "checks",
        "handler": "/usr/bin/health-check-handler.sh"
    }
  ]
}